#top{
	background-color: #58DFA8;
	width: 1500px;
	height: 500px;
	margin-left: 15px;
	margin-top: -21px;
}

.header{
	color: white;
	text-align: center;
	font-size: 50px;
}

h3{
	color: #58DFA8;
}

#header{
	font-size: 50px;
}

#headers{
	font-size: 30px;
}

#circle-right{
	border-radius: 100%;
	height: 150px;
	width: 150px;
	border: solid 3px #A4A4A4;
	background-color: #FAFAFA;
	margin-left: 1000px;
}

#circle-center{
	border-radius: 100%;
	height: 150px;
	width: 150px;
	border: solid 3px #A4A4A4;
	background-color: #FAFAFA;
	margin-left: 700px;
	margin-top: -150px;
}

#circle-left{
	border-radius: 100%;
	height: 150px;
	width: 150px;
	border: solid 3px #A4A4A4;
	background-color: #FAFAFA;
	margin-left: 400px;
	margin-top: -150px;
}


#bottom{
	height: 500px;
	width: 500px;

}

#little-circle{
	border-radius: 100%;
	height: 75px;
	width: 75px;
	background-color: white;
	border: solid 3px #A4A4A4;
	margin-left: 750px;
	margin-top: 70px;
}

#chevron{
	height:40px;
	width:60px;
	margin-top: 20px;
	margin-left: 8px;
}

#text{
	width: 900px;
	height: 400px;
	margin-top: 100px;
	margin-left: 330px;
	background-color: #D8D8D8;

}